body {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 200px 1fr 1fr;
}

img {
  width: 20px;
}

header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

header > div {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.search-bar {
  display: flex;
  grid-column: 1 / 2;
}

.profile {
  display: flex;
  grid-column: 2 / 3;
}

header ul {
  display: flex;
}

.left-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.projects > div {
  height: 200px;
  position: relative;
}

p + ul {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.right-sidebar {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.trending > div {
  display: flex;
}

