* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 200px 1fr 1fr;
  height: 100vh;
  font-family: 'Roboto';
}

img {
  width: 20px;
}

ul {
  list-style: none;
}

header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

header > div {
  display: grid;
  grid-template-columns: 1fr 200px;
}

.search-bar {
  display: flex;
  grid-column: 1 / 2;
}

.profile {
  display: flex;
  grid-column: 2 / 3;
}

header ul {
  display: flex;
}

.left-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #1992D4;
  color: white;
  padding: 30px;
  font-weight: bold;
  font-size: 0.95rem;
}

.left-sidebar > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-sidebar > div > img {
  width: 30px
}

.left-sidebar li {
  padding: 10px 2px;
}

li > img {
  width: 20px;
}

.left-sidebar ul {
  padding: 20px 0px;
}

.left-sidebar li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.projects > div {
  height: 200px;
  position: relative;
}

p + ul {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.right-sidebar {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.trending > div {
  display: flex;
}

