* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Thin.ttf);
  font-weight: 300;
  font-style: light;
}

body {
  display: grid;
  grid-template-columns: 250px 2fr;
  grid-template-rows: 140px 1fr;
  font-family: 'Roboto';
  height: 100vh;
}

img {
  width: 20px;
}

ul {
  list-style: none;
}

header {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding: 15px 40px;
  font-weight: bold;
}

header > div {
  display: flex;
  justify-content: space-between;
  gap: max(20px, 8vw);
  padding-bottom: 10px;
}

header > div > div {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  gap: 20px;
  flex: 1;
}

input {
  flex: 1;
  background-color: #E2E8F0;
  border: none;
  height: 33px;
  border-radius: 14px;
  padding: 0px 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

img[src="icons/user-icon.png"] {
  width: 40px
}

.greeting {
  gap: 10px;
  white-space: nowrap;
}
.greeting > img {
  width: 60px;
}

.greeting > div > div:last-child {
  font-size: 1.5rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  background-color: #1992D4;
  color: white;
  border: none;
  width: 90px;
  height: 40px;
  font-weight: inherit;
  border-radius: 18px;
}

.left-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #1992D4;
  color: white;
  padding: 30px;
  font-weight: bold;
  font-size: 0.95rem;
}

.left-sidebar > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.left-sidebar > div > img {
  width: 30px
}

.left-sidebar li {
  padding: 10px 2px;
}

li > img {
  width: 20px;
}

.left-sidebar ul {
  padding: 20px 0px;
}

.left-sidebar li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.projects-container {
  padding: 0px 40px;
}

h2 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.3rem;
}

.projects-container,
.right-sidebar {
  background-color: #E2E8F0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  gap: 20px;
  padding-bottom: 20px;
}

.projects > div {
  height: 140px;
  position: relative;
  background-color: white;
  border-left: 7px solid #F0B429;
  border-radius: 8px;
  padding: 30px 15px;
}

p {
  font-weight: lighter;
  color: gray
}

p + ul {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  right: 30px;
  gap: 0px;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  padding-right: 30px;
}

.right-sidebar > div {
  max-width: 300px;
  border-radius: 8px;
}

.trending > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending > div > div {
  display: flex;
  gap: 15px;
}

.right-sidebar > div > div {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.trending > div > div > div > div:last-child {
  color: gray;
  font-weight: lighter;
}

.announcements > div:not(:last-child) > p {
  border-bottom: solid gray 1px;
  padding-bottom: 20px;
}

.announcements > div:not(:first-child) > h3 {
  padding-top: 15px;
}

